# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

# OS
.DS_Store
Thumbs.db

# Data / outputs
*.wdf
*.npz
*.csv
elektroferogramy pro vitu/
plots/
ss4_histograms/

# IDEs
.vscode/
.idea/

# main
config.json
debug.json
config*
stats*
debug2.json
debugAll.json
despike_debugAll.json
ball.json
configAll.json
corr_rule_tmp.json
corr_tmp_purity.json
corrGWStrue.json
corrT.json
corr.json
debugGWStrue.json
debugNonM.json
debugRAW.json
despike_debug.json
edge.json
EFconfig.json
EFdebug.json
exp.json
stats100gradient.json
stats100NonM.json
stats100raw.json

# unused scripts
muon_finder_backup.py
correlation_hover_gui.py
pyqt_viewer.py

# debugs
debug_trace_candidate_mapping.py
debug_candidate_mapping_y8_x134.csv
debug_candidate_mapping_y8_x134.json